#btn--yp {
  box-sizing: content-box;
  position: fixed;
  z-index: 9;
  bottom: 1em;
  right: 1em;
  border: solid 1em transparent;
  width: 4.625em;
  height: 3.25em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
  font: 16px/ 1.25 trebuchet ms, sans-serif;
  text-indent: 200vw;
  text-shadow: none;
  filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
  transition: .5s;
  white-space: nowrap;
}
#btn--yp:before {
  box-sizing: inherit;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 1em -.5em;
  padding: .5em;
  width: 100%;
  border-radius: 5px;
  background: #e8e0e0;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-indent: 0vw;
  white-space: normal;
  animation: float 1s ease-in-out infinite alternate;
  content: attr(data-txt);
}
#btn--yp:hover, #btn--yp:focus {
  outline: none;
  filter: grayscale(0) drop-shadow(0 0 1px crimson);
}

@keyframes float {
  to {
    transform: translateY(0.75em);
  }
}
body {
  overflow: hidden;
  height: 100vh;
  perspective: 80em;
  perspective-origin: 50% calc(50% - 36em);
  background: black;
}

div {
  position: absolute;
  transform-style: preserve-3d;
}

.a3d {
  top: 50%;
  left: 50%;
  animation: a 8s linear infinite;
}

@keyframes a {
  to {
    transform: translatey(12.8em) rotatey(-1turn);
  }
}
.pos {
  transform: rotatey(var(--ay)) translate3d(var(--x, 0), calc((var(--cube-idx) - 8)*0.8em), 9.6em) rotatey(calc(-1*var(--ay)));
  color: hsl(calc(var(--cube-idx)*22.5), 100%, 50%);
}
.pos:nth-child(4n + 1) {
  --x: -9.6em;
}
.pos:nth-child(4n + 2) {
  --x: -4.8em;
}
.pos:nth-child(4n + 3) {
  --x: 0em;
}
.pos:nth-child(4n + 4) {
  --x: 4.8em;
}
.pos:nth-child(n + 1) {
  --ay: 0deg;
}
.pos:nth-child(n + 5) {
  --ay: 90deg;
}
.pos:nth-child(n + 9) {
  --ay: 180deg;
}
.pos:nth-child(n + 13) {
  --ay: 270deg;
}
.pos:nth-child(1) {
  --cube-idx: 0;
}
.pos:nth-child(1) .s3d {
  animation-name: dh16;
}
@keyframes dh1 {
  0%, 0% {
    transform: none;
  }
  100%, 10% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(2) {
  --cube-idx: 1;
}
.pos:nth-child(2) .s3d {
  animation-name: dh15;
}
@keyframes dh2 {
  0%, 6% {
    transform: none;
  }
  100%, 16% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(3) {
  --cube-idx: 2;
}
.pos:nth-child(3) .s3d {
  animation-name: dh14;
}
@keyframes dh3 {
  0%, 12% {
    transform: none;
  }
  100%, 22% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(4) {
  --cube-idx: 3;
}
.pos:nth-child(4) .s3d {
  animation-name: dh13;
}
@keyframes dh4 {
  0%, 18% {
    transform: none;
  }
  100%, 28% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(5) {
  --cube-idx: 4;
}
.pos:nth-child(5) .s3d {
  animation-name: dh12;
}
@keyframes dh5 {
  0%, 24% {
    transform: none;
  }
  100%, 34% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(6) {
  --cube-idx: 5;
}
.pos:nth-child(6) .s3d {
  animation-name: dh11;
}
@keyframes dh6 {
  0%, 30% {
    transform: none;
  }
  100%, 40% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(7) {
  --cube-idx: 6;
}
.pos:nth-child(7) .s3d {
  animation-name: dh10;
}
@keyframes dh7 {
  0%, 36% {
    transform: none;
  }
  100%, 46% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(8) {
  --cube-idx: 7;
}
.pos:nth-child(8) .s3d {
  animation-name: dh9;
}
@keyframes dh8 {
  0%, 42% {
    transform: none;
  }
  100%, 52% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(9) {
  --cube-idx: 8;
}
.pos:nth-child(9) .s3d {
  animation-name: dh8;
}
@keyframes dh9 {
  0%, 48% {
    transform: none;
  }
  100%, 58% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(10) {
  --cube-idx: 9;
}
.pos:nth-child(10) .s3d {
  animation-name: dh7;
}
@keyframes dh10 {
  0%, 54% {
    transform: none;
  }
  100%, 64% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(11) {
  --cube-idx: 10;
}
.pos:nth-child(11) .s3d {
  animation-name: dh6;
}
@keyframes dh11 {
  0%, 60% {
    transform: none;
  }
  100%, 70% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(12) {
  --cube-idx: 11;
}
.pos:nth-child(12) .s3d {
  animation-name: dh5;
}
@keyframes dh12 {
  0%, 66% {
    transform: none;
  }
  100%, 76% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(13) {
  --cube-idx: 12;
}
.pos:nth-child(13) .s3d {
  animation-name: dh4;
}
@keyframes dh13 {
  0%, 72% {
    transform: none;
  }
  100%, 82% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(14) {
  --cube-idx: 13;
}
.pos:nth-child(14) .s3d {
  animation-name: dh3;
}
@keyframes dh14 {
  0%, 78% {
    transform: none;
  }
  100%, 88% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(15) {
  --cube-idx: 14;
}
.pos:nth-child(15) .s3d {
  animation-name: dh2;
}
@keyframes dh15 {
  0%, 84% {
    transform: none;
  }
  100%, 94% {
    transform: translatey(-12.8em);
  }
}
.pos:nth-child(16) {
  --cube-idx: 15;
}
.pos:nth-child(16) .s3d {
  animation-name: dh1;
}
@keyframes dh16 {
  0%, 90% {
    transform: none;
  }
  100%, 100% {
    transform: translatey(-12.8em);
  }
}
.s3d {
  animation: a 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

.s2d {
  margin: -2em;
  width: 4em;
  height: 4em;
  --i: 0;
  transform: rotate3d(var(--i), calc(1 - var(--i)), 0, var(--a)) translatez(2em);
  background: currentcolor;
}
.s2d:nth-child(2n) {
  color: black;
}
.s2d:nth-child(1) {
  --a: 0deg;
}
.s2d:nth-child(2) {
  --a: 90deg;
}
.s2d:nth-child(3) {
  --a: 180deg;
}
.s2d:nth-child(4) {
  --a: 270deg;
}
.s2d:nth-child(5) {
  --a: 360deg;
  --i: 1;
  --a: 90deg;
  background-image: repeating-conic-gradient(transparent 0deg, transparent 90deg, black 0deg, black 180deg);
  background-size: 1em 1em;
}