body {
  height: 100vh;
  margin: 0;
  background: #000;
  color: #f07;
  overflow: hidden;
}

pre {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 20px;

  letter-spacing: 0px;
  line-height: 1;
  font-family: 'Cascadia Code', monospace;
}